

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../Css/index.css" />
    <link rel="stylesheet" type="text/css" href="../Css/NavBar.css" />
    <link rel="stylesheet" type="text/css" href="../Css/CreateTodo.css" />
    <script type="text/javascript" src="../Model/TodoModel.js"></script>
    <script type="text/javascript" src="../Data/Db.js"></script>
    <script type="text/javascript">
        const queryString = window.location.search;
            const urlParams = new URLSearchParams(queryString);
            const index = urlParams.get("id");
    </script>
    <title>Update TODO</title>
  </head>
  <body>
    <div class="container">
    <div class="navbar">
        <span>TODO App</span>
        <span class="links">
          <a href="../index.html">Home</a>
          <a href="../Components/Create.html">Create</a>
        </span>
    </div>
    <form name="todoform" method="POST" class="create-todo-container">
      <table class="create-todo-inner-container">
        <tr>
            <td>
                Title:
            </td>
          <td>
            <input
              type="text"
              name="Title"
              placeholder="Enter Title"
              class="input-textbox"
              id="title"
              required
            />
          </td>
        </tr>
        <tr>
            <td>
                Description:
            </td>
          <td>
            <textarea
              type="text"
              name="Description"
              placeholder="Enter Description"
              rows="3"
              cols="27"
              value="" 
              id="description"
              required
            ></textarea>
          </td>
        </tr>
        <tr>
          <td>Status:</td>
          <td>
            <select required name="Status" class="input-textbox" value="" id="status">
              <option value="Pending">Pending</option>
              <option value="Completed">Completed</option>
            </select>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <input
              type="button"
              name="button"
              value="UPDATE"
              class="CreateButton"
              onClick="onUpdate(this.form)"
            />
          </td>
        </tr>
      </table>
    </form>
    </div>

    <script type="text/javascript">
        document.getElementById("title").value=retArr[index].title;
        document.getElementById("description").value=retArr[index].description;
        document.getElementById("status").value=retArr[index].status;
        

      function onUpdate(form) {
        var inputTitle = form.Title.value;
        var inputDescription = form.Description.value;
        var inputStatus = form.Status.value;

        // Create obj of Todo, and store it in localStorage
        const Obj = new Todo(inputTitle, inputDescription, inputStatus);
        retArr[index] = Obj;
        setDbData(retArr);
        alert("Todo has been Updated!");
        window.location.href="../index.html";
      }
    </script>

  </body>
</html>
